<div class="contact-comp">
  <div class="contact-sec">
    <div class="contactUs-sec">
      <div class="cont-title">Contact Us</div>
      <div class="cont-body">
        <div class="econt-mail">
          <img class="email-icon" src="assets/icons/envelope-solid.svg" alt="">
          <div class="email-text">
              <!-- dummy&#64;gmail.com -->
               {{emailAddress}}
          </div>
        </div>
        <div class="econt-mail">
          <img class="email-icon" src="assets/icons/phone-solid.svg" alt="">
          <div class="email-text">
              {{mobileNumber}}
          </div>
        </div>
        <div class="econt-Whatsapp">
          <img class="Whatsapp-img" src="assets/images/MPBwhatsappQR1.png" alt="WhatsApp QR code" loading="lazy">
          <div class="Whatsapp-text">
            Scan on WhatsApp
        </div>
        </div>
      </div>
    </div>
    <div class="getTouch-sec">
      <div class="getTouch-title">Have any questions? Get in touch with us!</div>
      <div class="getTouch-body">
        <div class="touchBtn" (click)="getInTouch()">
          <img class="touch-icon" src="assets/icons/envelope-solid.svg" alt="">
          <div class="touch-text">
              GET IN TOUCH
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
