<div class="green-promise">
    <div class="green-desk-section">
        <img src="assets/images/green tree desktop.jpg" alt="Green Promise Image">
    </div>
    <div class="green-mid-section">
        <img src="assets/images/green tree desktop.jpg" alt="Green Promise Image">
    </div>
    <div class="green-init-section">
        <div class="green-title">
            <div class="green-main-title">Sowing Seeds of Goodness</div>
            <div class="green-sub-title">Inspiring a new mindset across the nation</div>
        </div>
        <div class="green-img">
            <div class="green-img1 grnmdiv">
                <img class="greenImg1 grnm" src="assets/images/green tree desktop.jpg">
            </div>
            <div class="green-img2 grnmdiv">
                <img class="greenImg2 grnm" src="assets/images/green tree desktop.jpg">
            </div>
            <div class="green-img3 grnmdiv">
                <img class="greenImg3 grnm" src="assets/images/green tree desktop.jpg">
            </div>
        </div>
    </div>
</div>
