<div class="aboutus">
    <div class="toph">
        <div class="imgdivtoph">
            <img src="assets/images/green tree desktop.jpg" alt="About Us Image" fetchpriority="high">
            <div class="toph-title">{{tophTitle}}</div>
        </div>
    </div>
    <div class="about-details">
        <div class="journey-title">{{juorneyTitle}}</div>
        <div class="journey-content">{{journeyContent}}</div>
        <div class="kyePdetails">
            <div class="kyeImgWrapper">
                <img class="kyeImg" src="assets/images/papu_img-f2.png" alt="Key Image" loading="lazy">
                <div class="keyNameDet">
                    <div class="keyname">Mirza Parhan Beg</div>
                    <div class="keyPos">Founder, CEO & MD</div>
                </div>
            </div>
            <div class="keyPep">
                <i><div class="keyQuote">{{ceoQuote}}</div></i>
            </div>
        </div>
    </div>
</div>
