@mixin flex($justify:flex-start, $align:stretch) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.shop-products{
    .shop-init-section{
        padding-inline: 2rem;
        padding-block: 3rem;
        .shop-title{
            text-align: center;
        }
        
        .shop-main-title{
            font-family: "Story Script", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 3px;
            color: var(--primaryColor);
        }

        .shop-sub-title{
            margin-block: 1.5rem;
            color: grey;
            letter-spacing: 1px;
        }

        .shop-img{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .shpmdiv{
                border-radius: 1rem;
                background-color: #ceffce;
                padding-bottom: 1.5rem;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    transform: scale(1.05);
                    transition: all 0.5s ease;
                }
                .shop-product-details{
                    @include flex(center, center);
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-top: 1.5rem;
                    .shop-product-name{
                        font-weight: 700;
                        font-size: 1rem;
                    }
                    .shop-product-qty{
                        @include flex(center, center);
                        .shop-qty{
                            font-weight: 800;
                            font-size: 1.5rem;
                            width: 7rem;
                            background-color: var(--primaryColor);
                            color: white;
                            border-radius: 0.9rem;
                            padding: 3px;
                            text-align: center;
                        }
                    }
                    .shop-product-price{
                        font-weight: 900;
                        font-size: 1.6rem;
                    }
                }
            }

            img{
                width: 100%;
                border-radius: 1rem 1rem 0 0;
                height: 57vh;
            }
        }
    }
    
}

@media(max-width:768px){
    .shop-products{
        .shop-init-section{
            padding: 1rem;
            .shop-title{
                .shop-main-title{
                    font-size: 2.3rem;
                }
            }

            .shop-sub-title{
                margin-block: 1rem;
            }

            .shop-img{
                grid-template-columns: 1fr;
                gap: 0.5rem;

                .shpmdiv{
                    padding-bottom: 1rem;
                    &:hover{
                        transform: none;
                    }
                    .shop-product-details{
                        .shop-product-name{
                            text-align: center;
                        }
                    }
                }

                img{
                    height: 45vh;
                }
            }
        }
    }
}