<div class="shop-products">
    <div class="shop-init-section">
        <div class="shop-title">
            <div class="shop-main-title">Explore Our Exclusive Range</div>
            <div class="shop-sub-title">Discover products that blend quality with sustainability</div>
        </div>
        <div class="shop-img">
            <div class="shop-img1 shpmdiv">
                <img class="shopImg1 shpm" src="assets/images/adv-water-bottle.jpg" loading="lazy" alt="250ml packaged drinking water">
                <div class="shop-product-details">
                    <div class="shop-product-name">MPPurify 250ml Packaged Drinking Water</div>
                    <div class="shop-product-qty"><div class="shop-qty">250ml</div></div>
                    <div class="shop-product-price">₹5.00</div>
                </div>
            </div>
            <div class="shop-img2 shpmdiv">
                <img class="shopImg2 shpm" src="assets/images/adv-water-bottle.jpg" loading="lazy" alt="500ml packaged drinking water">
                <div class="shop-product-details">
                    <div class="shop-product-name">MPPurify 500ml Packaged Drinking Water</div>
                    <div class="shop-product-qty"><div class="shop-qty">500ml</div></div>
                    <div class="shop-product-price">₹10.00</div>
                </div>
            </div>
            <div class="shop-img3 shpmdiv">
                <img class="shopImg3 shpm" src="assets/images/adv-water-bottle.jpg" loading="lazy" alt="1L packaged drinking water">
                <div class="shop-product-details">
                    <div class="shop-product-name">MPPurify 1L Packaged Drinking Water</div>
                    <div class="shop-product-qty"><div class="shop-qty">1L</div></div>
                    <div class="shop-product-price">₹20.00</div>
                </div>
            </div>
            <div class="shop-img4 shpmdiv">
                <img class="shopImg4 shpm" src="assets/images/adv-water-bottle.jpg" loading="lazy" alt="20L packaged drinking water">
                <div class="shop-product-details">
                    <div class="shop-product-name">MPPurify 20L Packaged Drinking Water</div>
                    <div class="shop-product-qty"><div class="shop-qty">20L</div></div>
                    <div class="shop-product-price">₹25.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
