<div class="header-comp">
  <div class="hcontain-wrapper">
    <button class="sidebarIcon" type="button" (click)="toggleSidebar()" aria-label="Open menu">
      <img src="assets/icons/bars-solid.svg" alt="">
    </button>
    <div [class.open]="sidebar" class="sidebar">
      <button class="top" type="button" (click)="toggleSidebar()" aria-label="Close menu">X <span class="sidebarTitle">Jaaal Life</span></button>
      <a class="navs" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">Home</a>
      <a class="navs" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">About</a>
      <a class="navs" routerLink="/shopp" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">Products</a>
      <a class="navs" routerLink="/greenp" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">Eco-Bond</a>
      <a class="navs" routerLink="/faqs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">FAQs</a>
      <a class="navs" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebar()">Contact Us</a>
      <div class="navs"><button class="getButton" type="button" (click)="getInTouch()">GET IN TOUCH</button></div>
    </div>
    <div class="title">
       <img src="assets/logos/jaaal life text Img.png" alt="Jaaal Life">
    </div>
    <div class="tabs">
      <a class="home tab" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="about tab" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
      <a class="shopp tab" routerLink="/shopp" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
      <a class="greener tab" routerLink="/greenp" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Eco-Bond</a>
      <a class="faq tab" routerLink="/faqs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQs</a>
      <a class="cont tab" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
    </div>
  </div>
  <div class="touch" (click)="getInTouch()">GET IN TOUCH</div>
</div>
 
