<div class="header-comp">
  <div class="hcontain-wrapper">
    <div class="sidebarIcon" (click)="toggleSidebar()">
      <img src="../../../assets/icons/bars-solid.svg">
    </div>
    <div [class.open]="sidebar" class="sidebar">
      <div class="top" (click)="toggleSidebar()">X <span class="sidebarTitle">Jaaal Life</span></div>
      <div class="navs" (click)="tabClicked('home', true)">Home</div>
      <div class="navs" (click)="tabClicked('about', true)">About</div>
      <div class="navs" (click)="tabClicked('shopp', true)">Products</div>
      <div class="navs" (click)="tabClicked('greenp', true)">Eco-Bond</div>
      <div class="navs" (click)="tabClicked('faq', true)">FAQs</div>
      <div class="navs" (click)="tabClicked('cont', true)">Contact Us</div>
      <div class="navs"><Button class="getButton" (click)="getInTouch()">GET IN TOUCH</Button></div>
    </div>
    <div class="title">
       <img src="../../../assets/logos/jaaal life text Img.png">
    </div>
    <div class="tabs">
      <div class="home tab" [class.active]="isActive('home')" (click)="tabClicked('home')">Home</div>
      <div class="about tab" [class.active]="isActive('about')" (click)="tabClicked('about')">About</div>
      <div class="shopp tab" [class.active]="isActive('shopp')" (click)="tabClicked('shopp')">Products</div>
      <div class="greener tab" [class.active]="isActive('greenp')" (click)="tabClicked('greenp')">Eco-Bond</div>
      <div class="faq tab" [class.active]="isActive('faq')" (click)="tabClicked('faq')">FAQs</div>
      <div class="cont tab" [class.active]="isActive('cont')" (click)="tabClicked('cont')">Contact Us</div>
    </div>
  </div>
  <div class="touch" (click)="getInTouch()">GET IN TOUCH</div>
</div>
 