<div class="home-comp">
    <div class="front-section">
        <div class="front-right">
            <img class="front-img" src="../../../assets/images/AquaFrontImg.png" alt="Brands">
        </div>
    </div>
    <div class="icon-section">
        <div class="icon-group">
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveWater" src="../../../assets/icons/save-water.png" alt="save water">
                </div>
                <div class="icon-title">Save Water</div>
                <div class="icon-subTitle">We source premium drinking Water for you</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveLife" src="../../../assets/icons/plant.png" alt="save life">
                </div>
                <div class="icon-title">Save Environment</div>
                <div class="icon-subTitle">We source Premium Drinking Water for you</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveHealth" src="../../../assets/icons/save.png" alt="save health">
                </div>
                <div class="icon-title">Save Health</div>
                <div class="icon-subTitle">We source Premium Drinking Water for you</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveMoney" src="../../../assets/icons/rupee.png" alt="save money">
                </div>
                <div class="icon-title">Save Money</div>
                <div class="icon-subTitle">Our bottled water is 100% free for the Consumer</div>
            </div>
        </div>
    </div>
    <div class="adv-section">
        <div class="advimg-div">
            <img class="advImage" src="../../../assets/images/advimg.jpg">
        </div>
        <div class="advTxt-div">
            <div class="advTxt-title">Promote with Purpose</div>
            <div class="advTxt-body">
                <div class="punch-line">
                    Achieve powerful visibility and harness the ultimate brand loyalty tool for impactful advertising.
                </div>
                Free Aqua for All is a pioneering advertising platform that leverages free premium mineral water 
                as a unique advertising medium while focusing on philanthropy and sustainability. 
                With every beverage sold, 5 rupees are donated to charity to help combat India's water crisis.
            </div>
        </div>
    </div>
    <div class="opertional-section">
        <div class="oper-title">
            <div class="oper-main-title">Sowing Seeds of Goodness</div>
            <div class="oper-sub-title">Inspiring a new mindset across the nation</div>
        </div>
        <div class="oper-img">
            <div class="oper-img1 opImdiv">
                <img class="operImg1 opIm" src="../../../assets/images/adv-water-bottle.jpg">
            </div>
            <div class="oper-img2 opImdiv">
                <img class="operImg2 opIm" src="../../../assets/images/adv-water-bottle.jpg">
            </div>
            <div class="oper-img3 opImdiv">
                <img class="operImg3 opIm" src="../../../assets/images/adv-water-bottle.jpg">
            </div>
            <div class="oper-img4 opImdiv">
                <img class="operImg4 opIm" src="../../../assets/images/adv-water-bottle.jpg">
            </div>
        </div>
        <div class="oper-about">
            A symbol of goodness, trust and purity, MPPurify has been a household name for decades.
            A leader in its category, it is the most trusted brand of packaged drinking water in India.
            Having a strong presence, with 122 operational plants (13 owned) and a strong distribution network of 4500 Distributors & 5000 Distribution trucks across India & neighbouring countries,
            MPPurify stands true to its promise of providing safe, pure & healthy water to consumers for the last 50 years.
        </div>
    </div>
    <div class="getintouch-section">
        <div class="quote-text">
            <div class="quote-title"> Get in Touch with Free Aqua 4 All - Let's Create an Impact Together!</div>
        </div>
        <div class="touchBtn" (click)="getInTouch()">
            <img claas="touch-icon" src="../../../assets/icons/envelope-solid.svg">
            <div class="touch-text">
                GET IN TOUCH
            </div>
        </div>
    </div>
</div>