<div class="home-comp">
    <div class="front-section">
        <div class="front-right">
            <img class="front-img" src="../../../assets/images/AquaFrontImg.png" alt="Brands">
        </div>
    </div>
    <div class="icon-section">
        <div class="icon-group">
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveWater" src="../../../assets/icons/save-water.png" alt="save water">
                </div>
                <div class="icon-title">Save Water</div>
                <div class="icon-subTitle">Every drop counts—let us deliver purity without waste.</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveLife" src="../../../assets/icons/plant.png" alt="save life">
                </div>
                <div class="icon-title">Save Environment</div>
                <div class="icon-subTitle">Sustainable hydration that nurtures the planet.</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveHealth" src="../../../assets/icons/save.png" alt="save health">
                </div>
                <div class="icon-title">Save Health</div>
                <div class="icon-subTitle">Clean water, better living—your health deserves the best.</div>
            </div>
            <div class="iconlogo">
                <div class="img-div">
                    <img class="img-saveMoney" src="../../../assets/icons/rupee.png" alt="save money">
                </div>
                <div class="icon-title">Save Money</div>
                <div class="icon-subTitle">Premium water, zero cost—wellness shouldn't come with a price tag</div>
            </div>
        </div>
    </div>
    <div class="adv-section">
        <div class="advimg-div">
            <img class="advImage" src="../../../assets/images/advimg.jpg">
        </div>
        <div class="advTxt-div">
            <div class="advTxt-title">Jaaal Life</div>
            <div class="advTxt-body">
                <div class="punch-line">{{ punchLine }}</div>
                <div class="metric-div">
                    <div class="metric" *ngFor="let met of metricData">
                        <div class="metric-text">{{met.metricText}}</div>
                        <div class="metric-number">{{met.metricNumber}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="opertional-section">
        <div class="oper-title">
            <div class="oper-main-title">Sowing Seeds of Goodness</div>
            <div class="oper-sub-title">Inspiring a new mindset across the nation</div>
        </div>
        <div class="oper-img">
            <div class="oper-img1 opImdiv">
                <img class="operImg1 opIm" src="../../../assets/images/operational-plant-f.jpg">
                <div class="oper-comment-div">
                    <div class="oper-comment-num">1</div>
                    <div class="oper-comment-title">OPERATIONAL PLANTS</div>
                </div>
            </div>
            <div class="oper-img2 opImdiv">
                <img class="operImg2 opIm" src="../../../assets/images/water-distributors.jpg">
                <div class="oper-comment-div">
                    <div class="oper-comment-num">25+</div>
                    <div class="oper-comment-title">DISTRIBUTORS</div>
                </div>
            </div>
            <div class="oper-img3 opImdiv">
                <img class="operImg3 opIm" src="../../../assets/images/water-load-truck.png">
                <div class="oper-comment-div">
                    <div class="oper-comment-num">10</div>
                    <div class="oper-comment-title">DISTRIBUTION CARRIER</div>
                </div>
            </div>
            <div class="oper-img4 opImdiv">
                <img class="operImg4 opIm" src="../../../assets/images/adv-water-bottle.jpg">
                <div class="oper-comment-div">
                    <div class="oper-comment-num">1</div>
                    <div class="oper-comment-title">OPERATIONAL PLANTS</div>
                </div>
            </div>
        </div>
        <div class="oper-about">
            A symbol of goodness, trust and purity, Jaaal Life has been a household name for decades.
            A leader in its category, it is the most trusted brand of packaged drinking water in India.
            Having a strong presence, with a operational plant and a strong distribution network of 25+ Distributors & 10 Distribution trucks across India & neighbouring countries,
            Jaaal Life stands true to its promise of providing safe, pure & healthy water to consumers from last years.
        </div>
    </div>
    <!-- <div class="getintouch-section">
        <div class="quote-text">
            <div class="quote-title"> Get in Touch with Free Aqua 4 All - Let's Create an Impact Together!</div>
        </div>
        <div class="touchBtn" (click)="getInTouch()">
            <img claas="touch-icon" src="../../../assets/icons/envelope-solid.svg">
            <div class="touch-text">
                GET IN TOUCH
            </div>
        </div>
    </div> -->
</div>