:root{
    // --primaryColor: #00b5ff;
     --primaryColor: #00cd00;
    --secondColor: #0082ff;
    --lightPrimary: #ceffce
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    background: white;
    color: #333333;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

button{
    font: inherit;
}

.app-comp{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body{
    flex: 1;
}
